

/**** RESUMO **/

#pedido-dir{
    
}

#cont_resumo{
    background:#fff;
    max-height: 480px;
    overflow: auto;
}

.qtd_item{
    height:25px;
    margin: 0 auto;
    margin-top: 2px;
}

.qtd_item input{
    font-size:14px;
    font-weight:bold;
    border:none;
    color:#333;
    width:30px;
    height:25px;
    text-align:center;
    float:left;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}

.qtd_item a{
    width: 22px;
    background-color: #0062ab;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    float: left;
    height: 24px;
    vertical-align: middle;
    padding: 1px 0 0px 6px;
}

.clear{clear:both;}

.item_resumo{
    padding: 12px;
    height: auto;
    overflow: hidden;
    padding-left:10px;
    border-bottom: 1px solid #d4d4d4;
}

.dir_item_resumo{
    width: 80px;
    float: right;
}

.det_item_resumo{
    width: auto;
    overflow: hidden;
    float:none;
    min-height: 58px;
}

.item_resumo_combo .combo-detalhamento_item {
    /*
    padding: 12px 0;
    height: auto;
    overflow: hidden;
    padding-left:10px;
    border-bottom: 1px solid #d4d4d4;
    background-color: darkorange;
    */
}

.combo-personalizacoes_item {
    border-top:1px dotted #d4d4d4; 
    margin-top: 2px; 
    margin-bottom: 2px;
    padding-left: 8px;
}

.combo-personalizacoes_item p{
    font-family:Lato;
    color:#444;
    font-size:14px;
    margin:0;
    line-height:19px;
}

p.preco_item_resumo{
    padding: 9px 4px 0 4px;
    width: 100%;
    text-align: center;
    color: #3b3b3b;
    border-radius: 4px;
    font-family: lato;
    font-weight: bold;
    margin: 0;
    font-size: 15px;
}

img.icon_resumo{
    float:left;
    margin-right: 10px;
}

p.nomeitem_resumo{
    font-family:Lato;
    font-weight:bold;
    color:#444;
    font-size:16px;
    margin:0;
}

p.nomeitem_resumo a{
    color:#444;
}

p.nomeitem_resumo i{
    font-size:19px;
}

p.descitem_resumo{
    font-family:Lato;
    color:#444;
    font-size:14px;
    margin:0;
}

.btndetalhes_resumo{
    font-size:12px;
    line-height:32px;
    padding: 0 10px 0 3px;
    float: left;
    box-shadow: none;
    margin-top:5px;
}

.item_resumo_combo {
    overflow: hidden;
    height: auto;
    padding: 3px;
    padding-left:10px;
}

.btneditar_resumo{
    font-size:12px;
    line-height:32px;
    box-shadow: none;
    padding: 0 10px 0 4px;
}

.btneditar_resumo i{
    font-size: 16px;
    padding:0 4px;
}

.btneditar_resumo.edit_item_kg i {
  padding: 0;
}

.div_resumo_edit_item_kg{
  display: flex;
  width: 100%;
}

.quantityItemKg{
  color: #3b3b3b;
  font-family: 'Oswald', sans-serif !important;
  font-weight: 700;
  margin: 0;
  font-size: 16px;
  text-align: center;
}

.personalizacoes_item{
    margin-bottom: 10px;
    overflow-wrap: break-word;
}

.personalizacoes_item p{
    font-family:Lato;
    color:#444;
    font-size:14px;
    margin:0;
    line-height:19px;
}

.combo{
    padding: 12px 0;
    height: auto;
    overflow: hidden;
    padding-left:10px;
    border-bottom: 1px solid #d4d4d4;
    background:#f0f0f0;
}

p.tit_combo_resumo{
    font-family:Lato;
    font-weight:bold;
    color:#444;
    font-size:16px;
    margin:0;
    color:#0062ab;
}

p.tit_combo_resumo i{
    font-size: 19px;
    color:#a40000;
}

.btn_excluircombo{
    font-size:12px;
    line-height:32px;
    padding: 0 10px 0 3px;
    float: left;
    box-shadow: none;
    margin-top:5px;
    color: #ab000f;
}

.btn_excluircombo i{
    font-size:19px;
}

.btneditar_combo{
    font-size:12px;
    line-height:32px;
    padding: 0 10px 0 3px;
    float: right;
    margin-right:5px;
    box-shadow: none;
    margin-top:5px;
}

.btneditar_combo i{
    font-size: 15px;
    padding:0 5px;
}

.economia{
    background: #57c05b;
    color: #fff;
    font-size: 14px;
    font-family: lato;
    padding: 4px 13px;
    border-radius: 20px;
    margin: 0 auto 5px;
    text-align: center;
    width: 240px;
    margin-top: 8px;
}

.economia i{
    font-size: 15px;
    margin-right: 5px;
}

span.promopreco{
    font-size:10px;
}

p.preco_item_resumo_promo {
    width: 100%;
    text-align: center;
    color: #087607;
    border-radius: 4px;
    font-family: lato;
    font-weight: bold;
    margin: 0;
    font-size: 15px;
}

#total-finaliza-ped {
    width: 99%;
    margin: 5px 0.5% 0 0.5%;
    border:none !important; 
}

#txttotal {
    font-family:lato;
    font-size: 18px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    margin:0 auto;
    margin-bottom: 15px;
    background:#d4d4d4;
    border-radius:5px;
	margin-top:15px;
}

#btn_finalizar_pedido{
    width: 100%;
    margin-bottom:30px;
    /*background:#087607;
    border-bottom: 3px solid #015c00;*/
    background:#00b400;
    border-bottom: 3px solid #009a00;
    height: 48px;
    font-size: 16px;
}

a.mdl-badge{
    color:#fff;
}

.mdl-badge[data-badge]:after{
    background:red;
}

.mdl-layout__header{
    background:#c0392b;
}

.deletar_item{
    cursor:pointer;
}

.btn_qtd_pedido {
  width: 81px;
  height: 30px;
  border: 1px solid #d4d4d4;
  border-radius: 25px;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.qtd_menos_pedido {
  width: 24px;
  line-height: 24px;
  display: block;
  text-align: center;
  font-size: 29px;
  color: #ff0d0d;
  cursor: pointer;
  height: 30px;
}
.qtd_mais_pedido {
  width: 24px;
  line-height: 27px;
  display: block;
  text-align: center;
  font-size: 22px;
  color: #00b400;
  cursor: pointer;
  height: 30px;
}
input.qtd_txt_pedido {
  width: 28px;
  line-height: 30px;
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #444;
  border: none;
  height: 30px;
  background-color: transparent;
  cursor: default;
}

input.qtd_txt_pedido:focus {
  outline: none;
}