# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-delete-this-directory.txt
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg

# Banco de dados
motoboy.db

# Outros
venv/
__pycache__/
*.pyc
.env
motoboys.db
docker_data/
*.log.DS_Store
Thumbs.db
venv/
__pycache__/
*.pyc
.env
motoboys.db
docker_data/
*.log
firebase_admin_key.json
firebase_admin_key.json
venv/
*.pyc
__pycache__/
