# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-delete-this-directory.txt
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg

# Banco de dados
motoboy.db

# Outros
.DS_Store
Thumbs.db
