.headModalCombo{
  height: 8%;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerModalCombo{
  border-top: 1px solid #dee2e6;
  height: 11%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.contentModalCombo{
  display: flex;
  height: 81%;
  padding: 10px 0px;
}

.component_modal_combo_div_infos, .component_modal_combo_items{
  width: 50%;
}

.component_modal_combo_div_infos{
  padding: 0 14px;
  overflow-y: auto;
}

.component_modal_combo_items{
  height: 100%;
  overflow-x: auto;
}

.component_modal_combo_img{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.component_modal_combo_img img{
  border-radius: 0.5rem;
}

.component_modal_combo_title{
  font-family: oswald, sans-serif !important;
  text-transform: uppercase !important;
  font-weight: 500;
  text-align: center;
  line-height: normal;
  font-size: 1.3rem;
  margin: 14px 0;
}

.component_modal_combo_description{
  font-size: 0.9rem;
  white-space: pre-line;
}

#btn_finalizar_combo{
  width: 100%;
  margin-bottom: 30px;
  color: #fff;
  height: 48px;
  font-size: 16px;
  margin-top: 25px;
  background-color: #00b400 !important;
  border-bottom: 3px solid #009a00 !important;
  border-radius: 7px;
}

.component_modal_combo_modal_title{
  font-size: 1.25rem;
  font-weight: normal;
}

.hideModal{
  cursor: pointer;
}

#btn_finalizar_combo.btninativo{
  background: #d4d4d4 !important;
  border-bottom: 3px solid #b8b8b8 !important;
  color: #616161 !important
}

@media (min-width: 768px) {
  .modalEddy.modalCombo{
    width: 80%;
    height: 95%;
    padding: 10px;
    top: 3vh;
  }

  #btn_finalizar_combo{
    width: 240px;
    margin: 14px 0px;
    height: 40px;
  }

  .modalCombo{
    max-width: 1080px;
  }
}