.quantityItemKg{
  color: #3b3b3b;
  font-family: lato;
  font-weight: 700;
  margin: 0;
  font-size: 16px;
  text-align: center;
}

#progress-promotions .progress-card{
  display: none;
}

.progress-container {
  width: 100%;
  background-color: #eee;
  border-radius: 4px;
  height: 5px;
  overflow: hidden;
  margin-top: 5px;
}

.progress-bar {
  height: 100%;
  width: 60%;
  background-color: #57c05b;
}

.progress-title{
  font-family: 'Open Sans';
  font-weight: 600;
  color: rgba(0, 0, 0, .87);
}

.progress-card{
  border-radius: 5px;
  margin: 14px 10px;
  padding: 10px;
  background: #fff;
  cursor: pointer;
}

.title-highlighted{
  color: #57c05b;
}

@media (min-width: 768px) {
  .progress-title{
    font-size: 0.9rem!important;
  } 
}