body {
  position: inherit!important;
}

.modalObservations .buttonsQuantity, .modalEdges .buttonsQuantity, .modalDough .buttonsQuantity, .modalIngredients .buttonsQuantity, .modalIngredientsAdd .buttonsQuantity, .modalFlavors .buttonsQuantity{
  display: none;
}

.modalObservations .footerModalItem, .modalEdges .footerModalItem, .modalDough .footerModalItem, .modalFlavors .footerModalItem{
  justify-content: end;
}

.modalFlavors .footerModalItem{
  display: none;
}

.modalFlavors .contentModalItem{
  max-height: 85vh!important;
}

.modalEdges_btnAddModalItem, .modalObservations_btnAddModalItem, .modalDough_btnAddModalItem, .modalIngredients_btnAddModalItem, .modalIngredientsAdd_btnAddModalItem{
  width: 100%;
}

.modalFlavors_btnAddModalItem{
  display: none;
}

.removeObservations {
  background: #008a2a!important;
}

.removeFlavor{
  background: #b20000;
}

.removeDough{
  background: #0062ab;
}
.removeEdge{
  background: #ff4800;
}

.removeObservations, .removeDough, .removeEdge, .removeFlavor{
  width: 16%;
  height: 40px;
  cursor: pointer;
  float: left;
  color: #fff;
  border-radius: 24px 0 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.descriptionEditFlavor, .descriptionEditDough, .descriptionEditObservations, .descriptionEditEdges {
  width: 84%;
  margin: 0 10px;
  cursor: pointer;
  height: inherit !important;
  text-decoration: none;
  color: #333;
  text-transform: capitalize;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: inherit !important;
  text-align: left;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.modalFlavors_component_list_items_tag{
  float: inherit !important;
  position: inherit !important;
  margin: 5px 0 0 0 !important;
}

.modalFlavors_component_list_items_item{
  cursor: pointer;
}

.modalFlavors_component_list_items_item .component_list_items_item_info{
  width: 100%;
}

.div_obs_item_manual{
  margin: 15px 4%;
}

@supports (-webkit-touch-callout: none) {
  #obs_item{
    margin-bottom: 100px;
  }
}