.bairros.showbairro{
  display: inline-block;
  overflow-y: auto;
  max-height: 65vh;
}

input.searchNeighborhood {
  display: inline-block;
  border: 1px solid #d4d4d4;
  color: #767676;
  border-radius: 4px;
  font-size: 16px;
  padding: 9px;
  padding-left: 42px;
  background:url(../../img/icon-buscar.png) left top no-repeat; 
  background-color:#fff;
  margin-bottom: 10px;
}

.hideNeighborhood{
  display: none !important;
}