/*
#pedido-dir{
    background: #fff;
    border-radius: 10px;
    min-width: 320px;
    border:1px solid #d4d4d4;
	
}

#allitens{
    display: inline-block;
    max-height: 400px;
    overflow: auto;
    width: 100%;
}

.item-pedido:nth-child(1){
    margin-top: 0px;
    border-top: none;
}

#total-finaliza-ped{
    width: 96%;
    display: inline-block;
    margin-top: 10px;
    margin-left: 2%;
    border-top: 1px solid #d7d7d7;
    padding-top: 10px;
}
#txttotal{
    font-size: 18px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
	font-weight: 600;
	margin-bottom:20px;
}

.item-pedido{
    width: 96%;
    display: inline-block;
    margin-top: 10px;
    margin-left: 2%;
    border-top: 1px solid #d7d7d7;
    padding-top: 3px;
    padding-bottom: 0px;
}
.item-pedido.item-noborda{
    margin-top: 0px;
    border-top: none;
}

.item-imagem {
    float: left;
    padding: 2px;
    margin-right: 8px;
    width: 48px;
}
.item-imagem img{
    width: 100%;
}


.resumo-item p.tam-pizza-ped {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    max-width: 197px;
	font-weight: 600;
}

span.remov-item-ped {
    background: #b20000;
    color: white;
    padding: 0px 0px 0px 0px;
    border-radius: 30%;
    width: 18px;
    height: 18px;
    text-align: center;
    margin-top: 3px;
    font-size: 12px;
    cursor: pointer;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

p.nome-item-ped {
    font-size: 13px;
}            

input.in-qtdd-item-ped {
    width: 32px;
    display: inline-block;
    padding: 3px;
    margin: 0 4px;
    font-size: 15px;
    border: solid 1px #d7d7d7;
    font-size: 15px;
    text-align: center;
}

.qtdd-item-ped {
    display: inline-block;
    margin-top: 5px;
}

.item-precoeqtdd {
    float: right;  
    max-width: 130px;
    margin-right: 3px;
    margin-left: 3px;
}

.qtdd-item-ped-maisum, .qtdd-item-ped-menosum{
    width: 16px;
    height: 16px;
    padding: 2px;
    margin: 3px 2px 0 2px;
}
.qtdd-item-ped-maisum{
    background: url(../img/mais.png) no-repeat center;
    float: left;
}
.qtdd-item-ped-menosum{
    background: url(../img/menos.png) no-repeat center;
    float: right;
}

.preco-item-ped {
    background: #d7d7d7;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 3px 5px;
    margin-top: 3px;
	color:#333;
	text-align: center;
	font-weight: 600;
}
.preco-item-ped.preco-itempizza-ped{
    float: right;
    margin-top: 10px;
}


.det-edt-item-ped {
    font-size: 15px;
    font-weight: normal;
    border-radius: 5px;
    padding: 3px 5px 3px 30px;
    max-width: 100px;
    display: inline-block;
    margin-top: 10px;
    background:#ccc  url(../img/edt-det.png) no-repeat left;
    cursor: pointer;

}

.det-ped-item{
    background-position: 6px 8px;
}
.edt-ped-item{
    background-position: 6px -25px; 
    margin-left: 10px;
}
.det-esc-ped-item{
    display: none;
    background-position: 6px -52px; 
}

.itemsimples-ped{
    margin-top: 5px;
}
.imgitemsimples-ped{
    margin-top: 5px;
}


.det-pizza-ped{
    padding-left: 0px;
    display: inline-block;
    padding-top: 10px;
    display: none;
}

.det-pizza-ped{
    font-style: italic;
}
.det-pizza-ped strong{
    font-style: normal;
}

.btn-comprar.btn-finalizar{
    display: inline-block;
    position: relative;
    float: none;
    width: 84%;
    margin: 10px 0 0 8%;
    font-size: 20px;
    text-transform: uppercase;
}
.btn-comprar.btn-finalizar:hover{
    background-image:    -moz-linear-gradient( 90deg, rgb(58, 184, 57) 0%, rgb(1,148,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(58, 184, 57) 0%, rgb(1,148,0) 100%);
    background-image:     -ms-linear-gradient( 90deg, rgb(58, 184, 57) 0%, rgb(1,148,0) 100%);
}

.preco-item-ped.preco-itempizza-ped.totalverde {
  color: #015500;
  border: 1px solid #78B077;
  background: #D9FFD9;
}
.subTotaoped{
    float: left;
}
.descontoTotalped{
    float: right;
}

.car-sem-item{
    display: block;
    text-align: center;
    margin: 25px 0;
}

.car-sem-item img{
    margin: 0 auto;
    display: inline-block;
}

@media screen and (max-width: 1193px) {
    .resumo-item p.tam-pizza-ped {
        max-width: 164px;
    }
}
*/


#pedido-dir{
    background: #fff;
    border-radius: 10px;
    min-width: 320px;
	border:1px solid #d4d4d4;
	
}

#allitens{
    display: inline-block;
    /* margin-top: 50px; */
    max-height: 400px;
    overflow: auto;
    width: 100%;
}

.item-pedido:nth-child(1){
    margin-top: 0px;
    border-top: none;
}

#total-finaliza-ped{
    width: 96%;
    display: inline-block;
    margin-top: 10px;
    margin-left: 2%;
    border-top: 1px solid #d7d7d7;
    padding-top: 10px;
    position: relative;
}
#txttotal{
    font-size: 18px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom:20px;
    background: #ececeb;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.item-pedido{
    width: 96%;
    display: inline-block;
    margin-top: 10px;
    margin-left: 2%;
    border-top: 1px solid #d7d7d7;
    padding-top: 3px;
    padding-bottom: 0px;
}
.item-pedido.item-noborda{
    margin-top: 0px;
    border-top: none;
}

.item-imagem {
    float: left;
    padding: 2px;
    margin-right: 8px;
    width: 48px;
}
.item-imagem img{
    width: 100%;
}


.resumo-item p.tam-pizza-ped {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    max-width: 198px;
	font-weight: 600;
}

span.remov-item-ped {
    background: #b20000;
    color: white;
    padding: 0px 0px 0px 0px;
    border-radius: 30%;
    width: 18px;
    height: 18px;
    /* display: inline-block; */
    text-align: center;
    margin-top: 3px;
    /* font-weight: normal; */
    font-size: 12px;
    cursor: pointer;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

p.nome-item-ped {
    font-size: 13px;
    text-transform: capitalize;
}            

input.in-qtdd-item-ped {
    width: 32px;
    display: inline-block;
    padding: 3px;
    margin: 0 4px;
    font-size: 15px;
    border: solid 1px #d7d7d7;
    font-size: 15px;
    text-align: center;
}

.qtdd-item-ped {
    display: inline-block;
    margin-top: 5px;
}

.item-precoeqtdd {
    float: right;  
    max-width: 130px;
    margin-right: 3px;
    margin-left: 3px;
}

.qtdd-item-ped-maisum, .qtdd-item-ped-menosum{
    width: 16px;
    height: 16px;
    padding: 2px;
    /*display: inline-block;*/
    margin: 3px 2px 0 2px;
}
.qtdd-item-ped-maisum{
    background: url(../img/mais.png) no-repeat center;
    float: right;
}
.qtdd-item-ped-menosum{
    background: url(../img/menos.png) no-repeat center;
    float: left;
}

/* 
preco-item-ped preco-itempizza-ped" style="display: none;width: 100%;padding: 6px 5px;font-size: 14px;"*/

p#sub_taxaent {
    background: url(../img/sprit-finalizar-pedido.png) no-repeat;
    background-position: -12px -9px;
    text-align: right;
    width: 100%;
    padding: 10px 7px;
    font-size: 15px;
}

.preco-item-ped {
    background: #d7d7d7;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 3px 5px;
    margin-top: 3px;
    color:#333;
    text-align: center;
    font-weight: 600;
}

.det-edt-item-ped {
    font-size: 15px;
    font-weight: normal;
    border-radius: 5px;
    padding: 3px 5px 3px 30px;
    max-width: 100px;
    display: inline-block;
    margin-top: 10px;
    background:#ccc  url(../img/edt-det.png) no-repeat left;
    cursor: pointer;
}

.preco-item-ped.preco-itempizza-ped{
    float: right;
    margin-top: 10px;
    padding: 6px 5px;
    font-size: 14px;
}

#total-finaliza-ped .preco-item-ped.preco-itempizza-ped{
    width: 100%;
	margin-bottom:15px;
}

.det-ped-item{
    background-position: 6px 8px;
}
.edt-ped-item{
    background-position: 6px -25px; 
    margin-left: 10px;
}
.det-esc-ped-item{
    display: none;
    background-position: 6px -52px; 
}

.itemsimples-ped{
    margin-top: 5px;
}
.imgitemsimples-ped{
    margin-top: 5px;
}


.det-pizza-ped{
    padding-left: 0px;
    display: inline-block;
    padding-top: 10px;
    display: none;
}

.det-pizza-ped{
    font-style: italic;
}
.det-pizza-ped strong{
    font-style: normal;
}

.btn-comprar.btn-finalizar{
    display: inline-block;
    position: relative;
    float: none;
    width: 84%;
    margin: 10px 0 0 8%;
    font-size: 20px;
    text-transform: uppercase;
}
.btn-comprar.btn-finalizar:hover{
    background-image:    -moz-linear-gradient( 90deg, rgb(58, 184, 57) 0%, rgb(1,148,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(58, 184, 57) 0%, rgb(1,148,0) 100%);
    background-image:     -ms-linear-gradient( 90deg, rgb(58, 184, 57) 0%, rgb(1,148,0) 100%);
}

.preco-item-ped.preco-itempizza-ped.totalverde {
  color: #015500;
  border: 1px solid #78B077;
  background: #D9FFD9;
}
.subTotaoped{
    float: left;
}
.descontoTotalped{
    float: right;
}

.bindpizzas {
    display: inline-block;
    width: 100%;
    margin-top: 6px;
}

.fotobrinde {
    /* display: inline-block; */
    float: left;
    padding: 2px 4px 0 2px;
}

h3.titlebrinde {
    /* display: inline-block; */
    float: left;
    font-size: 17px;
    width: 70%;
}

.infobrinde {
    display: inline-block;
    width: 70%;
    font-size: 14px;
}

.fotobrinde img {
    width: 40px;
}



.car-sem-item{
    display: block;
    text-align: center;
    margin: 25px 0;
}
.car-sem-item img{
    margin: 0 auto;
    display: inline-block;
}
@media screen and (max-width: 1193px) {
    .resumo-item p.tam-pizza-ped {
        max-width: 164px;
    }
}
